profiles {
    slurm {
        process {
            executor = 'slurm'
            queue = 'cpu'
            clusterOptions = " --gres=tmpspace:20G"

            errorStrategy = 'retry'
            maxRetries = 1
        }

        singularity {
            enabled = true
            runOptions = '-B /hpc:/hpc -B $TMPDIR:$TMPDIR'
            autoMounts = true
            cacheDir = '<singularity_cache_path>'
        }

        executor {
            queueSize = 1000
            pollInterval = '1min'
            queueStatInterval = '5min'
            submitRatelimit = '10sec'
        }
    }
}

process {
    withName: map_reads {
        time = { 16.h * task.attempt }
        cpus = 8
    }
}

