profiles {
    slurm {
        process {
            executor = 'slurm'
            queue = 'cpu'
            clusterOptions = " --gres=tmpspace:20G"

            errorStrategy = 'retry'
            maxRetries = 1
        }

        singularity {
            enabled = true
            runOptions = '-B /hpc:/hpc -B $TMPDIR:$TMPDIR'
            autoMounts = true
            cacheDir = '/path/to/singularity_cache/'
        }

        executor {
            queueSize = 1000
            pollInterval = '1min'
            queueStatInterval = '5min'
            submitRatelimit = '10sec'
        }
    }
}
